a {
  text-decoration: none;
  color: white;
}

.menu-hide.show {
  background: rgba(88, 88, 88, 0.2);
}

.menu-hide nav ul li:hover {
  background: unset;
}
body {
  background-color: black;
}

.quote .menu-item-3 p {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

.quote .menu-item-3 p a {
  color: black;
}
.btn1 {
  color: black;
  background: orange;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  border-color: transparent;
}
span {
  color: white;
}
.number {
  color: white;
}
.top {
  color: white;
}
p {
  font-weight: 1000;
}
* {
  /* border: 1px solid blue; */
}
main .heading {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main .heading p.last {
  text-align: center;
  font-size: 6em;
  color: white;
}

p.power {
  font-size: 2em;
  text-align: center;
}
main .capt {
    margin: 10% 0;
  width: 100%;
}
main .capt .button {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
main .capt .button p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  section.new .container main {
    position: relative;
    margin-top: 10vh;
    height: 75.1vh;
    padding: 4vh 0;
  }
  section.new .container .logo{
    font-size:4vh;
    margin-top:vh;
  }
  section.new .container main div.row div.thumbnail{
    background-color:black;
    border-color:black; 
    height: 30%; 
    width:100%;
  }
  section.new .container main .row .thumbnail h1{
    font-size: 5vh;
    
  }
  section.new .container main .row .thumbnail img{
    height:100%;
    width:80%;
  }
}
@media only screen and (max-width: 800px) {
  section.new .container main .row .thumbnail{
    background-color:black;
    border-color:black; 
    height: 29%; 
    width:100%;
  }
  section.new .comntainer main .row .thumbnail h1{
    font-size: 5vh;
    
  }
  section.new main .row .thumbnail img{
    height:100%;
    width:60%;
  }
}
@media only screen and (max-width: 1300px) {
  section.new  main{
   align-content: center;
  }
}
@media only screen and (min-width: 2600px) {
  
  section.new main .thumbnail {
    height:40%;
    background-color:rgb(201, 64, 64);
    border-color:rgb(224, 1, 1); 
  }
  section.new main .thumbnail img{
    height: 32cover;
  }
}
@media only screen and (max-width: 800px) {
  section.new .container main .hiddenjs aside.right .wrapper {
    display: flex;
  }
}
section.new .container main .hiddenjs aside.right .event {
  background-color: black;
  margin-right: 10px;
  border: 1px solid white;
  height: 4vh;
  cursor: pointer;
  font-size: 90%;
  padding: 5px;
  margin-bottom: 2vh;
}
section.new .container main .hiddenjs aside.right .event p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}